[gold]
read_verilog -sv {{SV_GOLD}}
prep -auto-top
rename -top top
# Consider this to hide internal wires
# rename -hide w:* %D x:* %i

[gate]
read_verilog -sv {{SV_GATE}}
prep -auto-top
rename -top top

[collect *]
group *

[strategy sby]
use sby
engine smtbmc {{SOLVER}}
depth 0