[submodule "EPFL-benchmarks"]
	path = benchtest/EPFL-benchmarks
	url = https://github.com/lvchenyangAI/EPFL-benchmarks.git
[submodule "benchtest/pulp-elau"]
	path = benchtest/pulp-elau
	url = https://github.com/pulp-platform/ELAU.git
