{% set N = N | int -%}
{# No log function in jinja2, have to do it manually #}
{%- if N < 2 -%}{% set IDX_W = 0 %}
{%- elif N < 4 -%}{% set IDX_W = 1 %}
{%- elif N < 8 -%}{% set IDX_W = 2 %}
{%- elif N < 16 -%}{% set IDX_W = 3 %}
{%- elif N < 32 -%}{% set IDX_W = 4 %}
{%- elif N < 64 -%}{% set IDX_W = 5 %}
{%- elif N < 128 -%}{% set IDX_W = 6 %}
{%- else -%}{% set IDX_W = 8 %}
{%- endif -%}
module bitselect (
    input  logic [{{ IDX_W-1 }}:0] in1,
    input  logic [{{ N-1 }}:0] in2,
    output logic [0:0] out
);
   assign out = in2[in1];
endmodule
